flows.json
[{"id":"1e59d3e148eb5071","type":"tab","label":"TV","disabled":false,"info":"","env":[]},{"id":"af92169bece6e25c","type":"group","z":"1e59d3e148eb5071","name":"Alexa, Control the TV","style":{"stroke":"#ffff00","fill":"#000000","label":true,"label-position":"n","fill-opacity":"0.84"},"nodes":["0f2f6a28dc722322","ab130bf18cb4934e","c6b2c8d92152aba6","edeb8ef0bdb0096f","a2bed3fb34ce2cd6","7e07aba4d2935c06","16a238d08bcd8d82","f3c7cbbeb9016dec","0bf1d0c770249d52","cf9957e8db01f940","efbb311facf45938","5c358b36e4fcf438","56f11a5311c2ee3e","d9f70bbde9624d1e","4150db2ed946ee98","27c7dc4b814e5114","179ea5423b52e4a3","2d82f8ca855aa77a","c9f982cf15c445e3","64531e84eabc532c","eaee4d1460740592","330c14a53fb4cec3","693e94c4560984c7","33c9ad646dfe94fd","313b818bb626b47c","4493c047fdd88ebd","0b53431016cc51c1","a41e01b475e5147d","2ad7e4cab6b2568e","8ef97afe8538859b","cac46e7364e86933","ae494d4a14a05c41","90da28880991c6a2","c56154baa4d7fd4b","236b9d5ccb88d2f6","74923f0a689f9b60","f9f78e97af3787cf","31b6a67107e4ea43","b914c2e56cfebf6c","967d87d6fb3d6b0f","cb24de8a170798b8","24c3bb132bc3d5c1","e0ccb761c9693236","8c9db74c7e3f0ba4","d2dccf4ec8375d64","5438f6ee880318e9","c98889dfa0f3ca6d","1e9a2ae21bc5ff01","d840873d2910f2ee","83174974d054e3f2","ec9ef63210c4f9c5","4330db9697cceaa2","2898e19271c2cd21","5acd3cc7e042f90d","4c558f5fcb50649a","803ee2dc69b36f5d"],"x":14,"y":19,"w":1652,"h":942},{"id":"7cfb67102c8a70af","type":"group","z":"1e59d3e148eb5071","name":"Broadlink","style":{"label":true,"label-position":"n"},"nodes":["52ef311d5c9ea144","65d3b841a2c891b9","0db8e76e283a08a3","08c1b311dc054048","688cfda56639e38c","44e2cc183a077eba","a5a36db645f8f6dc"],"x":14,"y":999,"w":752,"h":222},{"id":"0f2f6a28dc722322","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"ab130bf18cb4934e","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TURN TV ON","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"automation","service":"trigger","areaId":[],"deviceId":[],"entityId":["automation.lg_webos_smart_tv_turn_on_action"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":140,"wires":[["cf9957e8db01f940","27c7dc4b814e5114"]]},{"id":"c6b2c8d92152aba6","type":"switch","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV State Off/On","property":"data.state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":160,"wires":[["ab130bf18cb4934e","0bf1d0c770249d52"],["f3c7cbbeb9016dec","c9f982cf15c445e3"]]},{"id":"edeb8ef0bdb0096f","type":"api-current-state","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Living Room TV Status","server":"7aff52e0.da6b3c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":160,"wires":[["0f2f6a28dc722322","efbb311facf45938"]]},{"id":"a2bed3fb34ce2cd6","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Already On","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_my_echo_show","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"The  TV seems to be already on.\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":240,"wires":[[]]},{"id":"7e07aba4d2935c06","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Done","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_my_echo_show","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Done\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":300,"wires":[[]]},{"id":"16a238d08bcd8d82","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Alexa Volume 5","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.my_echo_show"],"data":"{\"volume_level\":0.5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":300,"wires":[["7e07aba4d2935c06"]]},{"id":"f3c7cbbeb9016dec","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":200,"wires":[]},{"id":"0bf1d0c770249d52","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":100,"wires":[]},{"id":"cf9957e8db01f940","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":100,"wires":[]},{"id":"efbb311facf45938","type":"switch","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"msg.on/off","property":"on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":160,"wires":[["c6b2c8d92152aba6","56f11a5311c2ee3e"],["4150db2ed946ee98","d9f70bbde9624d1e"]]},{"id":"5c358b36e4fcf438","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV","topic":"","x":210,"y":100,"wires":[["0f2f6a28dc722322","edeb8ef0bdb0096f"]]},{"id":"56f11a5311c2ee3e","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"d9f70bbde9624d1e","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV OFF","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":300,"wires":[["16a238d08bcd8d82"]]},{"id":"4150db2ed946ee98","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":260,"wires":[]},{"id":"27c7dc4b814e5114","type":"delay","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":140,"wires":[["179ea5423b52e4a3","64531e84eabc532c"]]},{"id":"179ea5423b52e4a3","type":"api-current-state","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Living Room TV Status","server":"7aff52e0.da6b3c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":100,"wires":[["2d82f8ca855aa77a","64531e84eabc532c","0b53431016cc51c1"]]},{"id":"2d82f8ca855aa77a","type":"switch","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV State On?","property":"data.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1360,"y":160,"wires":[["16a238d08bcd8d82"]]},{"id":"c9f982cf15c445e3","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Alexa Volume 5","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.my_echo_show"],"data":"{\"volume_level\":0.5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":240,"wires":[["a2bed3fb34ce2cd6"]]},{"id":"64531e84eabc532c","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":60,"wires":[]},{"id":"eaee4d1460740592","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"HDMI3","topic":"HDMI3","x":220,"y":620,"wires":[["313b818bb626b47c","4493c047fdd88ebd"]]},{"id":"330c14a53fb4cec3","type":"comment","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"On/Off","info":"","x":210,"y":60,"wires":[]},{"id":"693e94c4560984c7","type":"comment","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Change Sources","info":"YouTube\nNetflix\nPrime Video\nApple TV\nHome Dashboard\nRelaxing Wave","x":240,"y":460,"wires":[]},{"id":"33c9ad646dfe94fd","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"HDMI4","topic":"HDMI4","x":220,"y":680,"wires":[["313b818bb626b47c","90da28880991c6a2"]]},{"id":"313b818bb626b47c","type":"api-current-state","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Living Room TV Status","server":"7aff52e0.da6b3c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":580,"wires":[["ae494d4a14a05c41","0b53431016cc51c1"]]},{"id":"4493c047fdd88ebd","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":620,"wires":[]},{"id":"0b53431016cc51c1","type":"switch","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV State Off/On","property":"data.state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":580,"wires":[["efbb311facf45938"],["c56154baa4d7fd4b"]]},{"id":"a41e01b475e5147d","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Change Input","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\"source\":msg.source}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":580,"wires":[["8ef97afe8538859b"]]},{"id":"2ad7e4cab6b2568e","type":"api-current-state","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Living Room TV Status","server":"7aff52e0.da6b3c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1540,"y":580,"wires":[["cac46e7364e86933"]]},{"id":"8ef97afe8538859b","type":"delay","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":580,"wires":[["2ad7e4cab6b2568e"]]},{"id":"cac46e7364e86933","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":540,"wires":[]},{"id":"ae494d4a14a05c41","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"90da28880991c6a2","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":680,"wires":[]},{"id":"c56154baa4d7fd4b","type":"function","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Sources Logic","func":"var sourceList = msg.data.attributes.source_list;\nvar topic = msg.topic;\nvar source = \"\";\n\nvar HDMI1 = [\"HDMI 1\"];\nvar HDMI2 = [\"HDMI 2\",\"Google OTT\"];\nvar HDMI3 = [\"HDMI 3\",\"PC\",\"Roku OTT\"];\nvar HDMI4 = [\"HDMI4\",\"KPN Set-Top Box\"];\n\nif (topic == \"HDMI1\") {\n    for (let i = 0; i < sourceList.length; i++) {\n        for (let y = 0; y < HDMI1.length; y++) {\n            if (HDMI1[y] == sourceList[i]) {\n                source = HDMI1[y];\n            }\n        }\n    }\n}\n\nif (topic == \"HDMI2\") {\n    for (let i = 0; i < sourceList.length; i++) {\n        for (let y = 0; y < HDMI2.length; y++) {\n            if (HDMI2[y] == sourceList[i]) {\n                source = HDMI2[y];\n            }\n        }\n    }\n}\n\n\nif (topic == \"HDMI3\"){\n    for (let i = 0; i < sourceList.length; i++) {\n        for (let y = 0; y < HDMI3.length; y++) {\n            if (HDMI3[y] == sourceList[i]) {\n                source = HDMI3[y];\n            }\n        }\n    }\n}\n\nif (topic == \"HDMI4\") {\n    for (let i = 0; i < sourceList.length; i++) {\n        for (let y = 0; y < HDMI4.length; y++) {\n            if (HDMI4[y] == sourceList[i]) {\n                source = HDMI4[y];\n            }\n        }\n    }\n}\n\nif (topic == \"Netflix\"){\n    source = \"Netflix\";\n} else if (topic == \"YouTube\"){\n    source = \"YouTube\";\n} else if (topic == \"Dashboard\") {\n    source = \"Home Dashboard\";\n} else if (topic == \"MediaPlayer\") {\n    source = \"Media Player\";\n}\n\nmsg.source = source;\n\nif (topic != \"TVVolume\") {\n    return [msg,null];\n}\n\nif (topic == \"TVVolume\"){\n    return [null,msg];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":580,"wires":[["a41e01b475e5147d","236b9d5ccb88d2f6"],["1e9a2ae21bc5ff01"]]},{"id":"236b9d5ccb88d2f6","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":540,"wires":[]},{"id":"74923f0a689f9b60","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"HDMI1","topic":"HDMI1","x":220,"y":500,"wires":[["313b818bb626b47c","b914c2e56cfebf6c"]]},{"id":"f9f78e97af3787cf","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"HDMI2","topic":"HDMI2","x":220,"y":560,"wires":[["313b818bb626b47c","31b6a67107e4ea43"]]},{"id":"31b6a67107e4ea43","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":540,"wires":[]},{"id":"b914c2e56cfebf6c","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":500,"wires":[]},{"id":"967d87d6fb3d6b0f","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Netflix","topic":"Netflix","x":210,"y":740,"wires":[["313b818bb626b47c","24c3bb132bc3d5c1"]]},{"id":"cb24de8a170798b8","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"YouTube","topic":"YouTube","x":220,"y":800,"wires":[["313b818bb626b47c","e0ccb761c9693236"]]},{"id":"24c3bb132bc3d5c1","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":740,"wires":[]},{"id":"e0ccb761c9693236","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":800,"wires":[]},{"id":"8c9db74c7e3f0ba4","type":"link in","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Alexa Echo In","links":["19334156e49274b1"],"x":55,"y":400,"wires":[["74923f0a689f9b60","f9f78e97af3787cf","eaee4d1460740592","33c9ad646dfe94fd","967d87d6fb3d6b0f","cb24de8a170798b8","5c358b36e4fcf438","d2dccf4ec8375d64","5438f6ee880318e9","c98889dfa0f3ca6d","d840873d2910f2ee"]]},{"id":"d2dccf4ec8375d64","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Media Player","topic":"MediaPlayer","x":230,"y":860,"wires":[["cfa7695c260b205c","313b818bb626b47c"]]},{"id":"cfa7695c260b205c","type":"debug","z":"1e59d3e148eb5071","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":435,"y":860,"wires":[]},{"id":"5438f6ee880318e9","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV Volume","topic":"TVVolume","x":230,"y":340,"wires":[["4c558f5fcb50649a","313b818bb626b47c"]]},{"id":"4c558f5fcb50649a","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"c98889dfa0f3ca6d","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV Mute","topic":"TVMUTE","x":220,"y":400,"wires":[["ec9ef63210c4f9c5","4330db9697cceaa2","313b818bb626b47c"]]},{"id":"ec9ef63210c4f9c5","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":360,"wires":[]},{"id":"4330db9697cceaa2","type":"switch","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"msg.on/off","property":"on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":400,"wires":[["2898e19271c2cd21"],[]]},{"id":"2898e19271c2cd21","type":"function","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Broadlink Mute","func":"//Insert learned data object here\nlet mute = [38, 0, 80, 0, 0, 1, 36, 149, 18, 19, 18, 19, 18, 56, 19, 18, 19, 19, 18, 19, 17, 20, 18, 19, 17, 57, 19, 56, 17, 20, 18, 56, 19, 56, 18, 56, 19, 55, 18, 57, 18, 56, 18, 19, 18, 19, 19, 55, 19, 19, 17, 20, 18, 19, 18, 19, 18, 19, 19, 56, 18, 56, 18, 19, 18, 56, 19, 56, 18, 59, 16, 55, 19, 0, 5, 31, 0, 1, 39, 75, 18, 0, 13, 5, 0, 0, 0, 0, 0, 0, 0, 0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload = {\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\": \"send\",\n    \"data\": mute,\n    \"repeat\": 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["5acd3cc7e042f90d"]]},{"id":"5acd3cc7e042f90d","type":"RM","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Send","device":"2f91b1fe4e3b89ac","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":830,"y":400,"wires":[[]]},{"id":"52ef311d5c9ea144","type":"template","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.data}}","output":"str","x":520,"y":1140,"wires":[["0db8e76e283a08a3"]]},{"id":"65d3b841a2c891b9","type":"RM","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"Learn","device":"2f91b1fe4e3b89ac","action":"learn","remote":"","button":"","fix":1,"RFSweep":"false","x":350,"y":1100,"wires":[["52ef311d5c9ea144","0db8e76e283a08a3"]]},{"id":"0db8e76e283a08a3","type":"debug","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1100,"wires":[]},{"id":"08c1b311dc054048","type":"inject","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1040,"wires":[["65d3b841a2c891b9"]]},{"id":"688cfda56639e38c","type":"RM","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"Send","device":"2f91b1fe4e3b89ac","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":350,"y":1180,"wires":[["0db8e76e283a08a3"]]},{"id":"44e2cc183a077eba","type":"function","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"function 2","func":"//Insert learned data object here\nvar data = [38, 0, 72, 0, 0, 1, 36, 148, 19, 19, 17, 21, 16, 57, 18, 20, 16, 20, 18, 20, 18, 19, 17, 20, 18, 56, 18, 56, 18, 21, 16, 57, 17, 57, 18, 57, 17, 58, 16, 57, 18, 19, 19, 19, 17, 57, 17, 21, 17, 19, 17, 20, 19, 56, 19, 18, 18, 57, 17, 57, 18, 20, 17, 56, 18, 56, 19, 54, 19, 21, 16, 57, 17, 0, 13, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\nlet netflix = [38, 0, 72, 0, 0, 1, 37, 148, 19, 18, 17, 20, 18, 56, 18, 20, 17, 20, 17, 20, 17, 21, 16, 21, 17, 56, 18, 57, 18, 19, 18, 56, 18, 57, 18, 56, 17, 57, 18, 57, 17, 20, 17, 57, 20, 55, 18, 19, 17, 57, 17, 20, 17, 58, 17, 20, 17, 57, 17, 20, 17, 20, 19, 55, 19, 19, 18, 56, 18, 19, 17, 57, 19, 0, 13, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\nlet off = [38, 0, 80, 0, 0, 1, 36, 149, 17, 21, 17, 19, 18, 57, 18, 19, 19, 18, 17, 20, 17, 20, 17, 21, 17, 57, 18, 56, 17, 20, 18, 56, 19, 56, 17, 57, 17, 58, 17, 57, 18, 19, 17, 21, 16, 21, 17, 56, 19, 19, 17, 20, 17, 21, 16, 20, 17, 58, 17, 56, 19, 56, 17, 21, 18, 56, 18, 56, 18, 56, 18, 57, 17, 0, 5, 33, 0, 1, 38, 75, 17, 0, 13, 5, 0, 0, 0, 0, 0, 0, 0, 0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload = {\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\": \"send\",\n    \"data\": off,\n    \"repeat\": 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":1180,"wires":[["688cfda56639e38c"]]},{"id":"a5a36db645f8f6dc","type":"inject","z":"1e59d3e148eb5071","g":"7cfb67102c8a70af","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1100,"wires":[["44e2cc183a077eba"]]},{"id":"1e9a2ae21bc5ff01","type":"api-call-service","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Set Volume","server":"7aff52e0.da6b3c","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\"volume_level\":(msg.percentage)/100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":640,"wires":[[]]},{"id":"d840873d2910f2ee","type":"amazon-echo-device","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"Dashboard","topic":"Dashboard","x":230,"y":920,"wires":[["83174974d054e3f2","313b818bb626b47c"]]},{"id":"83174974d054e3f2","type":"debug","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":920,"wires":[]},{"id":"803ee2dc69b36f5d","type":"comment","z":"1e59d3e148eb5071","g":"af92169bece6e25c","name":"TV Volume","info":"","x":220,"y":300,"wires":[]},{"id":"7aff52e0.da6b3c","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"2f91b1fe4e3b89ac","type":"rmdevice","folder":"/shareddata","mac":"24DFA7E8418E","host":"192.168.1.52","devType":"5f36"}]